/* headings and logo */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fafafa;
    /* Keeps header above other page content */
    z-index: 1000;    
    /* Add other styles such as padding, height, etc. as needed */
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#feature {
    margin-top: 150px;
    text-align: center;
    font-size: 200%;
}

p {
    line-height: 2;
}

tr {
    line-height: 2;
}

th {
    width: 155px;
    text-align: right;
    border-spacing: 10px;
}

#logo {
    float: left;
    font-size: 250%;
    margin: 10px;
    padding: 20px;
    line-height: 75px;
}

/* navigation links */

#menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 125%;
    letter-spacing: 4px;
    justify-content: flex-end;
}

#menu, #logo {
    margin: auto;
    padding: 20px;
    line-height: 75px;
}

#menu li {

    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Default height for larger screens */
.hero {
    top: 100px;
    background-image: url("images/avro-night-image.jpg");
    height: 400px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
}


.image-container {
    width: 300px; 
}

.image-container img {
    width: 100%; /* This makes the image responsive */
    height: auto; /* This maintains the image's aspect ratio */
}

/* Adjusted height for smaller screens */
@media (max-width: 768px) {
    .hero-section {
        height: 250px;
    }
}

blockquote h3, blockquote footer {
    padding: 15px;
    margin: 15px;
    font-style: italic;
    text-align: center;
    color: #404040;
    white-space: normal;
}