/* headings and logo */

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
    margin: 10px;
    padding: 20px;
    line-height: 75px;
}

/* navigation links */

#menu {
    display: flex;
    flex-direction: flex;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    margin: auto;
    padding: 20px;
    line-height: 75px;
}

#menu li {

    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.hero {
    background-image: url("images/avro-night-image.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
